<!DOCTYPE html>
<html>
  <head>
    <title>Nikki's Dance Academy</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleContact.css">

  </head>
  <body>
    <nav id="navigation">
      <ul> 
        <div id="logo"><img src="/static/img/logo1.png">HDA</div>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a> </li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/register">SignUp</a> </li>
      </ul>
    </nav>
    <div class="container"> 
      <h1>Contact Us</h1>
      <form class="myForm" action="/contact" method="post">
        <input class="myInput" type="text" name="name" placeholder="Enter your name..">
        <input class="myInput" type="phone" name="phone" placeholder="Enter your phone..">
        <input class="myInput" type="email" name="email" placeholder="Enter your email..">
        <input class="myInput" type="text" name="name" placeholder="Enter your address..">
        <input class="myInput" type="text" name="desc" placeholder="Your name..">
        <button class="btn">Submit   </button>
      </form>
    </div>
    <footer id="footer">Copyright © 2020 Nikki'sAcademy.com | All Rights Reserved  </footer>
  </body>
</html>