<!DOCTYPE html>
<html>
  <head>
    <title>Nikki's Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styleSucess.css">

  </head>
  <body>
    <nav id="navigation">
      <ul> 
        <div id="logo"><img src="/static/img/logo1.png">HDA</div>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a>      </li>
        <li><a href="/">Services</a> </li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/register">SignUp</a> </li>
      </ul>
    </nav>
    <div class="container"> 
      <h3>your contact has been sucessfully submitted       </h3>
    </div>
    <footer id="footer">Copyright © 2020 Nikki'sAcademy.com | All Rights Reserved  </footer>
  </body>
</html>